@import url("login.css");

.back-link{

    margin-top:25px;

    text-align:center;

}

.back-link a{

    text-decoration:none;

    color:#163b7d;

    font-weight:bold;

}

.back-link a:hover{

    text-decoration:underline;

}