/* ================= NAVBAR ================= */

.navbar{
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 70px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:32px;
    font-weight:bold;
    color:#d4a017;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:#222;
    font-weight:600;
    transition:0.3s;
}

.nav-links a:hover{
    color:#163b7d;
}

.nav-actions{
    display:flex;
    align-items:center;
    gap:15px;
}

#welcomeUser{
    font-size:16px;
    font-weight:600;
    color:#163b7d;
}

/* ================= PROFILE BUTTON ================= */

.profile-btn{
    padding:12px 24px;
    border:none;
    background:#0d2f6f;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.profile-btn:hover{
    background:#163b7d;
}

/* ================= LOGOUT BUTTON ================= */

.logout-btn{
    background:crimson;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.logout-btn:hover{
    background:#a0002a;
}
