body{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#f4f6f9;

font-family:Arial;

}

.card{

background:white;

padding:40px;

border-radius:12px;

text-align:center;

box-shadow:0 8px 25px rgba(0,0,0,.15);

width:420px;

}

h1{

color:#163b7d;

margin-bottom:20px;

}

p{

margin-bottom:30px;

}

button{

width:100%;

padding:15px;

border:none;

background:#163b7d;

color:white;

font-size:17px;

border-radius:8px;

cursor:pointer;

}