<nav class="navbar">

    <div class="logo">
        Hotel Royal
    </div>

    <ul class="nav-links">

        <li>
            <a href="/home">
                Home
            </a>
        </li>

        <li>
    <a href="#"
       onclick="openAllRooms()">
        Rooms
    </a>
</li>

        <li>
            <a href="/home#about">
                About Us
            </a>
        </li>

        <li>
            <a href="/home#services">
                Services
            </a>
        </li>

        <li>
            <a href="/my-bookings">
                My Bookings
            </a>
        </li>

        <li>
            <a href="/home#contact">
                Contact
            </a>
        </li>

    </ul>

    <div class="nav-actions">

        <span id="welcomeUser"></span>

        <button
            class="profile-btn"
            onclick="window.location.href='/profile'"
        >
            Profile
        </button>

        <button
            class="logout-btn"
            onclick="logout()"
        >
            Logout
        </button>

    </div>
    <script src="{{ url_for('static', path='js/navbar.js') }}"></script>

</nav>